<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='http://localhost:3000/stylesheets/style.css'/>
</head>
<body>
    {{{body}}}
</body>
</html>
