    <h1>Neue Todo</h1>
    <form action="/notes" method="post">
        <label>Title <input type="text" name="title"></label>
        <label>Beschreibung <textarea name="beschreibung"></textarea></label>
        <label>Wichtigkeit <input type="number" name="wichtigkeit"></label>
        <label>Fertig bis <input type="date" name="fertigBis"></label>
        <label>Erledigt! <input type="checkbox" name="erledigt"></label>
        <button type="submit">Anlegen</button><button type="reset">Abbruch</button>
    </form>
