<div>
    <p>Neue Todo</p>
</div>
<form>
    <label for="title">Title</label><input id="title" type="text">
    <label for="Beschreibung">Beschreibung</label><input id="Beschreibung" type="text">
    <label for="wichtigkeit">Wichtigkeit</label><input id="wichtigkeit" type="number">
    <label for="fertigbis">Fertig bis</label><input id="fertigbis" type="date">
    <input type="checkbox"><span>erledigt</span>
    <button type="submit">Anlegen</button><button type="reset">Abbruch</button>
</form>
