    <h1>Neue Todo</h1>
    <form action="/notes" method="post">
        <label for="title">Title</label><input type="text" name="title" id="title">
        <label for="beschreibung">Beschreibung</label><textarea name="beschreibung" id="beschreibung"></textarea>
        <label for="wichtigkeit">Wichtigkeit</label><input type="number" name="wichtigkeit" id="wichtigkeit">
        <label for="fertigBis">Fertig bis</label><input type="date" name="fertigBis" id="fertigBis">
        <label name="check">Erledigt!</label><input type="checkbox" name="erledigt" id="check">
        <button type="submit">Anlegen</button><button type="reset">Abbruch</button>
    </form>
