<div id="container1">
    <button id="createButton">Create new Note</button>
    <button id="styleSwitcher">Style Switcher</button>
</div>
<div>
<button id="sortDate">By finish Date</button>
<button id="sortCreated">By Create Date</button>
<button id="sortByImportance">By Importance</button>
<button id="hideFinsished">Hide finsihed</button>
</div>
    <span>title</span><span>rating</span>
    <p>Datum bis fertig</p>
<div id="container2">
    <input type="checkbox" class="checkboxFinished">Finished

    <p id="beschreibung">Beschreibung</p>
    <button class="editButton">Edit</button>
</div>




